/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* background-color: red; */
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Georgia', cursive;
}

h1 {
  font-size: 4rem;
  color: rgba(24, 132, 214, 0.377);
  margin: 2% 0;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.7rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

.home-container {
  max-width: 840px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation nav a {
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.6rem;
  color: #212529;
}

.navigation nav a:hover {
  color: rgba(24, 132, 214, 0.377);
}

.header {
  background-color: #E6EAED;
  width: 100%;
  height: 65%;
  padding: 5% 2%;
}

#profile_pic {
  max-width: 45%;
  height: auto;
  padding-bottom: 2%;
}

.btn {
  width: 30%;
  height: 45px;
  background-color: #767676;
  border-radius: 5px;
  font-size: 1.8rem;
  color: #FFFFFF;
  text-align: center;
  line-height: 45px;
  vertical-align: middle;
}

.btn:hover {
  background-color:  rgba(24, 132, 214, 0.377);
  color: white;
}

.mid-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listen-up {
width: 50%;
padding: 5% 2%;
}

.good-at {
width: 50%;
padding: 5% 2%;
}

.good-at li{
  display: flex;
  flex-direction: column;
  height: 25%;
  padding: 4% 2%;
  background-color: rgba(24, 132, 214, 0.377);
  border: 1px solid #EDEDED;   
  vertical-align: top;
  font-size: 1.6rem;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.work-history {
  width: 50%;
  padding: 2% 2%;
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

.work-history li{
  display: flex;
  flex-direction: column;
  height: 15%;
  padding: 2% 2%;
  border: 1px solid #EDEDED;   
  background-color: rgba(24, 132, 214, 0.377);
  vertical-align: top;
  font-size: 1.6rem;
}

.contact {
  background-color: rgba(24, 132, 214, 0.377);
  color: #E6EAED;
  width: 50%;
  border-radius: 10px;
  padding: 2% 2%;
  line-height: 1.5;
  font-size: 1.6rem;
  text-align: center;
}
  
